.nav {
    height: 30px;
background-color: aqua;
}
.col {
height: 417px;

}
.left {
    background-color: blue;

}
.right {
    background-color: blueviolet;
}


.footer{
    height: 50px;
    background-color: aqua;
}
.jumbotron-fluid {
margin: 0px;}