.nav {
    height: 100px;

    background-color:skyblue;
}
.left {
    height: 650px;
    background-color: lightgreen;
}
.right {
height: 650px;
background-color: lightcoral;
}



.footer{
   height:150px;
   background-color:aqua; 
}


